<div class="info col-xl-12">
    <div class="row">
        <div class="info col-xl-3">
            <h5 class="thin-title">Speak out. Be heard.</h5>
            <h1>Be counted</h1>
        </div>
    
        <div class="info col-xl-9">
            <p>
                Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. 
                It's easy: You share your opinion, we analyze and put the data in a public report.
            </p>
        </div>
    </div>
</div>

<div class="title col-xl-12">
    <h1 class="thin-title">Votes</h1>
</div>

<div class="persons row justify-content-between">
    <div class="person col-xl-5 col-md-12 col-sm-12 " *ngFor="let person of informationPersons;let indexOfelement=index;">
        <div class="person-info col-xl-12 col-md-12 align-items-end">
            <div class="row pos-bottom">
                <div *ngIf="person.result === 1 || person.result === null" class="person-like text-white col-xl-2 col-md-2 justify-content-around">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16" style="padding-top: 10px; text-aling: center">
                        <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.964.22.817.533 2.512.062 4.51a9.84 9.84 0 0 1 .443-.05c.713-.065 1.669-.072 2.516.21.518.173.994.68 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.162 3.162 0 0 1-.488.9c.054.153.076.313.076.465 0 .306-.089.626-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.826 4.826 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.616.849-.231 1.574-.786 2.132-1.41.56-.626.914-1.279 1.039-1.638.199-.575.356-1.54.428-2.59z"/>
                    </svg>
                </div>
                <div *ngIf="person.result === 0" class="person-dislike text-white col-xl-2 col-md-2 justify-content-around">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16" style="padding-top: 10px; text-aling: center">
                        <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"/>
                    </svg>
                </div>
                <div class="person-options text-white col-xl-9 col-md-9">
                    <h1>{{person.name}}</h1>
                    <h6>{{person.time}} month ago in {{person.sector}}</h6>
                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui</p>
                    <div class="row btns-vote">
                        <button type="button" class="btn-vote btn-like col-xl-2 btn btn-outline-light" (click)="vote(indexOfelement, 1)" *ngIf="!person.voteAgain">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16" style="padding-top: 10px; text-aling: center">
                                <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.964.22.817.533 2.512.062 4.51a9.84 9.84 0 0 1 .443-.05c.713-.065 1.669-.072 2.516.21.518.173.994.68 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.162 3.162 0 0 1-.488.9c.054.153.076.313.076.465 0 .306-.089.626-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.826 4.826 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.616.849-.231 1.574-.786 2.132-1.41.56-.626.914-1.279 1.039-1.638.199-.575.356-1.54.428-2.59z"/>
                            </svg>
                        </button>
                        <button type="button" class="btn-vote btn-dislike col-xl-2 btn btn-outline-light" (click)="vote(indexOfelement, 0)" *ngIf="!person.voteAgain">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16" style="padding-top: 10px; text-aling: center">
                                <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"/>
                            </svg>
                        </button>
                        <button type="text" class="btn-vote col-xl-4 btn btn-outline-light" *ngIf="!person.voteAgain" [disabled]=true>Vote now</button>
                        <button type="text" class="btn-vote col-xl-4 btn btn-outline-light" *ngIf="person.voteAgain" (click)="voteAga(indexOfelement)">Vote again</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="person-votes col-xl-12 col-md-12">
            favor: {{person.perFavor}} % - Angainst: {{person.perAgainst}} %
        </div> 
    </div>
</div>

<div class="suggestions col-xl-12">
    <div class="row infoSuggestions align-items-center">
        <p class="col-xl-10 text-info" >Is there anyone else you would want us to add?</p><button type="text" class="col-xl-2 btn btn-outline-secondary" >Submit a Name</button>
    </div>
</div>
