.person{
    background-color: rgb(83, 67, 67);
    height: 600px;
    width: 500px;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.person-info{
    position: absolute;
    height: 300px;
    bottom: 65px;
}

.person-like {
    background-color: #5CBCB5;
    height: 50px;
    width: 20px;
}

.person-dislike {
    background-color: #F0AC1A;
    height: 50px;
    width: 20px;
}

.person-options{
    height: auto;
    padding-right: 0;
}

.person-votes{
    background-color: green;
    height: 50px;
    position: absolute;
    bottom: 0;
}

.pos-bottom{
    position: absolute;
    bottom: 0;
}

.btn-vote{
    margin-right: 5px;
    border-radius: 0;
}

.btns-vote{
    margin-left: 2px;
    border-radius: 0;
}

.btn-like {
    background-color: #5CBCB5;
    text-align: center;
}

.btn-dislike {
    background-color: #F0AC1A;
    text-align: center;
}