<div style="min-height: 100%;">
    <div>
        <app-header></app-header>
    </div>
    <div class="container-md">
        <div class="col-xl-12">
            <router-outlet></router-outlet>
        </div>
        <div class="col-xl-12">
            <app-footer></app-footer>
        </div>
    </div>
</div>
