/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.thin-title{
    font-weight: 100;
}

.text-white {
 color: white;
}

.info {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #EBEBEB;
}

.suggestions{
    height: 70px;
    width: 100%;
    //background-image: 'src/assets/img/suggestions';
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(./assets/img/panel.jpg) no-repeat 0 0/cover;
    //backdrop-filter: blur(50px);
    margin: 20px 0;
}

.infoSuggestions {
    width: 100%;
    padding: 10px 5px;
}

.text-info{
    color: black;
    font-size: 30px;
}

// p {
//     font-family: "Lato", Times, serif;
//   }

// p.a {
//     font-family: "Lato", Times, serif;
// }

// h1{
//     font-family: "Lato", Times, serif;
// }

// h6{
//     font-family: "Lato", Times, serif;
// }

// h5{
//     font-family: "Lato", Times, serif;
// }