<div class="header-container">
    <div class="nav-header container-sm row">
        <div class="col-xl-5">
            <div>
                <span class="logo">Rule of Thumb.</span>
            </div>
        </div>
        <div class="col-xl-7">
            <nav class="navbar navbar-expand-sm justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item" [ngClass]=" {'selected' : isSelected('1') }" (click)="onClickOption('pastTrials')">
                    <a class="nav-link" routerLink="./Past-Trials" routerLinkActive="selected">Past Trials</a>
                    </li>
                    <li class="nav-item" [ngClass]=" {'selected' : isSelected('1') }" (click)="onClickOption('howItWorks')">
                    <a class="nav-link" routerLink="./How-It-Works" routerLinkActive="selected">Hot It Works</a>
                    </li>
                    <li class="nav-item" [ngClass]=" {'selected' : isSelected('1') }" (click)="onClickOption('logInSignUp')">
                    <a class="nav-link"routerLink="./LogIn-SignUp" routerLinkActive="selected">Log In/Sign Up</a>
                    </li>
                    <li class="nav-item" [ngClass]=" {'selected' : isSelected('1') }" (click)="onClickOption('votes')">
                        <a class="nav-link" routerLink="./votes" routerLinkActive="selected">Votes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 20 20">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="back col-xl-12">
        <img class="image" src="./../../../assets/img/pope.jpg">
    </div>
    <div class="col-xl-5">
        <div class="info-init col-xl-12">
            <h6 class="col-xl-10" style="font-weight: 100;">What's your opinion on?</h6>
            <h1 class="col-xl-10">Pope Francis</h1>
            <p class="col-xl-10" style="font-size: 20px; font-weight: 100; padding-top: 20px;">
                He's talking thoug on clergy sexual abuse, 
                but is he just another papal pervert pretector?
                (thumbs down) or a true pedophile punising 
                pontiff? (thumbs up)
            </p>
            <a class="col-xl-10"> <i class="fa-wikipedia-w"></i>
               More information
            </a>
            <p class="col-xl-10" style="font-size: 20px; font-weight: 600; padding-top: 20px;">
                Whats your veredict?
            </p>
        </div> 
    </div> 
    <div class="time-days col-xl-12">
        closing in 22 days
    </div>      
</div>



