.header-container{
    position: relative;
    height: 900px;
    overflow: hidden;
    width: 100%;
}

.nav-header {
    position: absolute;
    top: 50px;
    left: 5%;
    z-index: 2;
    margin: auto;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0;
}

.info-init {
    position: absolute;
    top: 250px;
    left: 7%;
    z-index: 3;
    height: 400px;
    width: 600px;
    color: white;
    // background-color: #58585D;
    backdrop-filter: blur(50px);
    padding-left: 30px ;
    padding-top: 40px;

}

.info-init-vote {
    height: 100px;
    margin: 0;
}

.info-init-vote-fav{
    background-color: #5CBDB4;
}

.info-init-vote-ag {
    background-color: #5CBDB4;
}

.time-days {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    color: white;
}
.nav-item {
    padding: 0;
    margin: 0;
}

.nav-item a {
    text-decoration: none;
    color: white;
    padding: 16px 25px;
    height: 100%;
    font-size: 16px;
}

.logo{
    font-weight: 400;
    width: 210px;
    height: 35px;
    color: white;
    list-style: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    margin: 0;
    font-size: 35px;
}

.image{
    width: 100%;
    height: 100%;
}

.selected {
    position: relative;
  }
  
.selected:after {
    background-color: white;
    border-radius: 10px;
    content: '';
    position: absolute;
    height: 4px;
    bottom: 0;
    left: 0;
    width: 100%;
  }