<div class="info col-xl-12">
    <div class="row">
        <div class="info col-xl-3">
            <h5 class="thin-title">Speak out. Be heard.</h5>
            <h1>Be counted</h1>
        </div>
    
        <div class="info col-xl-9">
            <p>
                Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. 
                It's easy: You share your opinion, we analyze and put the data in a public report.
            </p>
        </div>
    </div>
</div>

<div class="title col-xl-12">
    <h1 class="thin-title">How it Works</h1>
</div>

<div class="suggestions col-xl-12">
    <div class="row infoSuggestions align-items-center">
        <p class="col-xl-10 text-info" >Is there anyone else you would want us to add?</p><button type="text" class="col-xl-2 btn btn-outline-secondary" >Submit a Name</button>
    </div>
</div>
